#aboutUs {
  padding: $nav-padding-desktop;
  @media (max-width: 1200px) {
    padding: 0 50px;
  }

  @media (max-width: 768px) {
    padding: 0 30px;
  }
  .bannerBg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
    margin-top: 40px;
  }
}
