#aboutUs {
  padding: $nav-padding-desktop;
  .bannerBg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 20px;
    margin-top: 40px;
  }
}
