#Experiences {
  padding: $nav-padding-desktop;
  @media (max-width: 1200px) {
    padding: 0 50px;
  }

  @media (max-width: 768px) {
    padding: 0 30px;
  }
  margin-top: 113px;
  .left {
    ul {
      display: flex;
      align-items: start;
      flex-direction: column;
      li {
        h3 {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 15px;
        }
        h2 {
          background-color: rgba(255, 255, 255, 0);
          color: black;

          font-size: 40px;
          font-weight: 500;
          line-height: 1.3em;
          margin-bottom: 30px;
          span {
            color: rgb(42, 116, 237);
          }
        }
        p {
          color: rgb(68, 68, 68);
          font-size: 18px;
          line-height: 1.7em;
        }
      }
    }
  }
  .right {
    width: 600px;
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      li {
        img {
          max-width: 200px;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}
