#OurMission {
  margin-top: 97px;
  padding: $nav-padding-desktop;
  .left {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right {
    width: 700px;
    ul {
      display: flex;
      align-items: start;
      flex-direction: column;
      li {
        h3 {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 15px;
        }
        h2 {
          background-color: rgba(255, 255, 255, 0);
          color: black;

          font-size: 40px;
          font-weight: 500;
          line-height: 1.3em;
          margin-bottom: 30px;
          span {
            color: rgb(42, 116, 237);
          }
        }
        p {
          color: rgb(68, 68, 68);
          font-size: 18px;
          line-height: 1.7em;
        }
      }
    }
    .ourMission {
      margin-top: 115px;
      display: flex;
      align-items: center;
      ul {
        .title {
          font-size: 26px;
          font-weight: 500;
          color: rgb(34, 34, 34);
        }
        li {
          font-size: 18px;
          font-weight: 400;
          line-height: 1.6em;
          color: rgb(102, 102, 102);
        }
      }
    }
  }
  .first {
    margin: 120px 0;
    padding: 35px 80px 30px 80px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #e6e6e6;
    border-radius: 20px 20px 20px 20px;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      li {
        img {
          max-width: 52px;
        }
        p {
          text-align: center;
          line-height: 1.5;
          font-size: 18px;
          font-weight: normal;
          color: #666666;
          margin-bottom: 10px;
        }
        button {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.4em;
          fill: #2a74ed;
          color: #2a74ed;
          background-color: #02010100;
          padding: 12px 24px;
          border: none;
        }
      }
    }
  }
}
