.product {
  border-style: solid;
  border-width: $product-border-width;
  border-color: $product-border-color;
  border-radius: $product-border-radius;
  overflow: hidden;
  padding: $product-padding-desktop;
  margin: $product-margin-desktop;
  cursor: grab;

  .productImg {
    img {
      @extend %defaultImg;
    }
  }

  .productFooter {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;

    h2 {
      font-size: $product-title-font;
      color: $product-title-color;
    }

    h3 {
      font-size: $product-price-font;
      margin-bottom: 5px;
      font-weight: 500;
      color: $product-price-color;
    }

    .stars {
      display: flex;
      align-items: center;
      gap: 2px;
      color: $product-star-color;

      i {
        font-size: $product-star-size;
      }
    }
  }

  @media (max-width: 1024px) {
    padding: $product-padding-tablet;
    margin: $product-margin-tablet;

    .productFooter {
      h2 {
        font-size: $product-title-font-tablet;
      }
      h3 {
        font-size: $product-price-font-tablet;
      }
      .stars i {
        font-size: $product-star-size-tablet;
      }
    }
  }

  @media (max-width: 568px) {
    padding: $product-padding-mobile;
    margin: $product-margin-mobile;

    .productFooter {
      h2 {
        font-size: $product-title-font-mobile;
      }
      h3 {
        font-size: $product-price-font-mobile;
      }
      .stars i {
        font-size: $product-star-size-mobile;
      }
    }
  }
}
