.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btns {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  .prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.39);
    transition: 0.3s ease-in-out;
    &:hover {
      border-color: rgb(97, 97, 218);
      i {
        color: rgb(97, 97, 218);
      }
    }
  }
  .next {
    @extend .prev;
  }
  i {
    font-size: 20px;
  }
}
