footer {
  background-color: #32373c;
  padding: 0 150px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }

  .lines {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
  }

  .services {
    padding: 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .box {
      display: flex;
      align-items: start;
      gap: 25px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
      }

      img {
        max-width: 50px;

        @media (max-width: 768px) {
          max-width: 40px;
        }
      }

      .body {
        width: 284px;

        @media (max-width: 768px) {
          width: 100%;
        }

        ul {
          display: flex;
          align-items: start;
          gap: 10px;
          flex-direction: column;

          @media (max-width: 768px) {
            gap: 6px;
          }

          .title {
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;

            @media (max-width: 768px) {
              font-size: 14px;
            }
          }

          li {
            font-size: 14px;
            color: #aaaaaa;

            @media (max-width: 768px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .more {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 40px;
    }
    @media (max-width: 1200px) {
      gap: 40px;
      padding: 30px 0;
    }

    .line {
      border-right: 1px solid #464d54;
      padding-right: 20px;

      @media (max-width: 768px) {
        border: none;
        padding: 0;
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }

    .company {
      h1 {
        color: #999999;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 768px) {
          font-size: 14px;
        }
      }

      ul {
        padding: 6px 0 3px;
        height: 181px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 3px;

        @media (max-width: 768px) {
          height: auto;
        }

        li {
          padding: 6px 0 3px;
          color: #ffffff;
          font-size: 15px;
          transition: 0.2s ease-in-out;

          &:hover {
            color: rgb(77, 77, 184);
            cursor: pointer;
          }

          @media (max-width: 768px) {
            font-size: 13px;
          }
        }
      }
    }

    .shop {
      @extend .company;
    }

    .support {
      @extend .company;
    }
  }

  .submit {
    padding: 65px 0 65px 172px;

    @media (max-width: 768px) {
      padding: 40px 0;
    }
    @media (max-width: 1200px) {
      display: flex;
      align-items: start;
      justify-content: start;
      padding: 30px 0;
    }

    ul {
      display: flex;
      align-items: start;
      gap: 20px;
      flex-direction: column;

      li {
        width: 100%;

        h2 {
          color: #999999;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;

          @media (max-width: 768px) {
            font-size: 14px;
          }
        }

        p {
          padding: 6px 0 3px;
          color: #ffffff;
          font-size: 15px;

          @media (max-width: 768px) {
            font-size: 13px;
          }

          span {
            text-decoration: underline;
            font-weight: bold;
            color: white;
          }
        }

        .inp-box {
          background-color: #ffffff;
          border-color: #e1e1e1;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2px;

          @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
          }

          input {
            line-height: 2rem;
            padding: 0 1.07em;
            width: 100%;
            border: none;
            outline: none;

            @media (max-width: 768px) {
              padding: 10px;
            }
          }

          button {
            padding: 0 15px;
            background-color: #2a74ed;
            color: #ffffff;
            border: none;
            height: 100%;
            font-size: 11.9px;

            @media (max-width: 768px) {
              width: 100%;
              padding: 10px 0;
            }
          }
        }
      }

      .social {
        display: flex;
        align-items: center;
        gap: 22px;

        @media (max-width: 768px) {
          gap: 15px;
        }

        span {
          color: #999999;
          font-size: 20px;
        }
      }
    }
  }

  .sign {
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 63px;

      @media (max-width: 1200px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .logo {
        width: 117px;
        height: 23px;

        @media (max-width: 768px) {
          width: 100px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .contact {
        display: flex;
        align-items: start;

        gap: 15px;
        flex-direction: column;

        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;

          @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
          }

          li {
            font-size: 15px;
            color: #cccccc;

            span {
              font-size: 15px;
              font-weight: 500;
              color: #ffffff;
            }
          }
        }

        h2 {
          font-size: 15px;
          color: #cccccc;

          span {
            font-size: 15px;
            font-weight: 400;
            color: #ffffff;
          }
        }
      }
    }
  }
}
